<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="{{ description }}" name="description">
  <meta name="google" content="notranslate">
  <meta content="sharebase.ロボット website have been developed on top of Mashup templates by Orson.io team" name="Shoichi Aizawa">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link href="./assets/images/kuma-152.png" rel="apple-touch-icon">
  <link href="./assets/images/kuma.ico" rel="icon">

  <title>{{ title }}</title>
</head>

<body>

