{{> metaHeader title='お問い合わせ | もふもふくまちゃん by sharebase.ロボット' description="「sharebase.ロボット」は納屋橋（名古屋市）にあるコワーキングスペース sharebase.InC に集まる有志メンバーによるチームです。プログラミングを実装するエンジニアリングチームとぬいぐるみをつくる縫製チームにてクマ型のぬいぐるみロボットに取り組んでいます。"}} {{> header}}

<div class="section-container no-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="map"></div>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-6">
            {{!--  <form action="" class="reveal-content contact-form">  --}}
            {{!--    <div class="form-group">  --}}
            {{!--      <input type="name" class="form-control" id="name" placeholder="お名前">  --}}
            {{!--    </div>  --}}
            {{!--    <div class="form-group">  --}}
            {{!--      <input type="email" class="form-control" id="email" placeholder="Eメール">  --}}
            {{!--    </div>  --}}
            {{!--    <div class="form-group">  --}}
            {{!--      <input type="text" class="form-control" id="subject" placeholder="件名">  --}}
            {{!--    </div>  --}}
            {{!--    <div class="form-group">  --}}
            {{!--      <textarea class="form-control" rows="3" placeholder="本文"></textarea>  --}}
            {{!--    </div>  --}}
            {{!--    <button type="submit" class="btn btn-primary btn-lg">送信する</button>  --}}
            {{!--  </form>  --}}
          </div>
          <div class="col-md-5 col-md-offset-1">
            <h3>活動拠点</h3>
            <div>
              <p>〒460-0003<br/>名古屋市中区錦１−１５−８アミティエ錦第一ビル６F</p>
            </div>
            {{!--  <div>  --}}
            {{!--    <p>contact@mybusiness.com<br>+81 52 123 4567</p>  --}}
            {{!--  </div>  --}}
            <div>
              <h3>技術者＆裁縫が得意な方募集</h3>
            </div>
            <div>
              <p>家庭用ロボットづくりに興味がある方は気軽にご連絡下さい。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}

<!-- Google maps  -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNWqlITge6UXFSm_TaZ4sWw2ippCyHBlQ&callback=googleMapInit"></script>
<!-- end Google Maps -->

{{> metaFooter}}
