{{> metaHeader title='製品情報 | もふもふくまちゃん by sharebase.ロボット' description="「sharebase.ロボット」は納屋橋（名古屋市）にあるコワーキングスペース sharebase.InC に集まる有志メンバーによるチームです。プログラミングを実装するエンジニアリングチームとぬいぐるみをつくる縫製チームにてクマ型のぬいぐるみロボットに取り組んでいます。"}} {{> header}}

<div class="">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <img class="img-responsive" src="./assets/images/sharebase-blackboard-wall.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="text-center">
          <h1>プロジェクト</h1>
          <p class="section-container-spacer">準備中</p>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-6">
            <img class="img-responsive" src="./assets/images/mofumofubear.jpg" alt="">
          </div>
          <div class="col-md-6">
            <img class="img-responsive" src="./assets/images/sb-members.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <small class="signature pull-right">Team sharebase.robot</small>
      </div>
    </div>
  </div>
</div>

{{> footer}} {{> metaFooter}}
